<div class="card text-bg-primary mb-3 col-12 w-75">
  <div class="card-header">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">{{title}}</h5>
                </div>
                <div class="col">
                  <p>{{user_Name}} on {{date}}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{description}}</p>
            </div>
          </div>
</div>