{{#if loggedIn}}
<main class="container ">

<div class="dropdown">
    <button id="createBTN" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Create a Blog
    </button>
    <form id="createBlog" class="dropdown-menu p-4">
        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input class="form-control" id="blogTitle">
            <label class="form-label">Description:</label>
            <input class="form-control" id="createDescription">
            <label class="form-label">Date:</label>
            <input class="form-control" id="date">
        </div>
        <div class="mb-3">
        <div class="form-check">              
        </div>
        </div>
        <button id="postBTN" class="btn btn-primary">Post</button>
    </form>
</div>    

<h2>My Posts:</h2>
    <div class="row">
    {{#each userInput}}
    {{> user-posts}}
    {{/each}}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/updateBTN.js"></script>
{{else}}
<a href="api/user/login">Need to login </a>
{{/if}}